.App {
  padding: 30px 0;
}

form {
  margin: 20px 0 60px;
}

.btn-form-group {
  justify-content: space-between !important;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.task-item p {
  margin: 10px;
}

.isHidden {
  display: none;
}