.App {
  padding: 30px 0;
}

form {
  margin: 20px 0 60px;
}

.editBtn {
  margin-right: 5px;
}

.btn-form-group {
  justify-content: space-between !important;
}

.modal-content {
  background-color: #FFFFFF;
  height: 500px;
  padding: 30px;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.task-item p {
  margin: 10px;
}

.isHidden {
  display: none;
}